loguru
opencv-python
openslide-python
numpy
matplotlib
tqdm
scipy
zarr
dask[distributed]
git+https://github.com/dask/crick.git
jupyter-server-proxy
cucim
scikit-image
hydra-core
omegaconf
torch
torchvision
gdown
bokeh==3.2.0 # !=3.0.*,>=2.4.2
h5py
pytest
# pip install --no-build-isolation spams